// default settings
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-pie: false;
$experimental-support-for-svg: true;

// colors settings

// fonts settings

// sprites settings
//$ui-sprite: sprite-map('ui/*.png', $layout: 'horizontal', $spacing: 10px);

// media-queries settings

